body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 350px;
}
html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}


.wrap-page {
    display: flex;
    width: 100%;
    height: 100vh;
    transition: transform 0.9s ease;
}
#section2 {
    transform: translateX(-100%);
    margin-top: -100vh;
    z-index: 2;
    background-color: rgb(215, 212, 204);
}
#section3{
    transform: translateX(100%);
    margin-top: -100vh;
    z-index: 2;
    background-color: rgb(215, 212, 204);
}

.img1, .img2 {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.img1 img, .img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-logo {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.wrap-logo img {
    width: 100%;
    max-width: 90px;
    height: auto;
}

.wrap-text {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    color: white;
}
.p1-wrap, .p2-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p1-wrap {
    margin-bottom: 40px;
}
.p2-wrap {
    margin-bottom: 20px;
}
.p1 {
    font-size: 35px;
    margin-bottom: -30px;
    font-family: 'Manrope';
    letter-spacing: 0.5cap;
    text-align: center;
}
.p2 {
    margin-bottom: -10px;
    font-size: 18px;
    font-family: 'Manrope';
    display: flex;
}

.mouse-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.mouse-icon img {
    background-color: rgba(0, 255, 42, 0.224);
    border-radius: 40px;
    max-width: 80px;
    height: auto;
    cursor: pointer;
}
.mouse-icon img:hover {
    background-color: rgba(0, 255, 42, 0.467);
}

.wrap-img-footer {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.inner-img img {
    max-width: 300px;
    height: auto;
}

.wrap-img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 0;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}



@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes fadeOutText {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeOutText {
    animation-name: fadeOutText;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@media (max-width: 1100px) {
    .wrap-logo img {
        max-width: 80px;
    }
    .mouse-icon img {
        max-width: 70px;
    }
    .inner-img img {
        padding-top: 30px;
        max-width: 250px;
    }
    }
    @media (max-width: 800px) {
    .wrap-logo img {
        max-width: 70px;
    }
    .mouse-icon img {
        max-width: 60px;
    }
    .inner-img img {
        padding-top: 0px;
        max-width: 200px;
    }
}
/********************************************************/

.wrap-content2 {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    padding-top: 10vh;
}


.text1, .text2 {
    max-width: 300px;
    font-family: "Manrope";
    letter-spacing: 0.2cap;
    text-align: center;
    font-size: 30px;
}
.switch_mob {
    width: 100%;
    max-width: 100px;
    height: auto;
    padding-top: 50%;
}
.button {
    height: 150px;
    width: 100px;
}


@media (max-width: 1100px) {
    .wrap-content2 {
        width: 800px;
    }
    .text1, .text2 {
        font-size: 25px;
    }
    .switch_mob {
        height: auto;
        width: 80px;
    }
    .switch_mob2 {
        height: auto;
        width: 80px;
    }
    .wrap-logo2 img {
        max-width: 80px;
    }
    .inner-img2 img {
        max-width: 270px;
    }
}
@media (max-width: 800px) {
    .wrap-content2 {
        width: 600px;
    }
    .text1, .text2 {
        font-size: 23px;
    }
    .switch_mob {
        height: auto;
        width: 70px;
        margin-right: 6px;
    }
    .switch_mob2 {
        height: auto;
        width: 70px;
    }
    .wrap-logo2 img {
        max-width: 70px;
    }
    .inner-img2 img {
        max-width: 250px;
    }
}
@media (max-width: 600px) {
    .wrap-content2 {
        width: 400px;
    }
    .text1, .text2 {
        font-size: 20px;
    }
}
/********************************************************/

.container-1 {
    width: 100%;
    display: flex;
    margin-top: -25vh;
    height: 100vh;
}

.column-1 {
    width: 34%;
    height: 100%;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);;
}
.column-2 {
    width: 48%;
    height: 100%;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);;
    background-color: rgb(212, 212, 212);
}

.column-3 {
    width: 18%;
    background-color:  rgb(195, 0, 0);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}



.wrap-img-slide {
    height: 100%;
}
.img4{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-video {
    top: -91%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}
.video {
    height: 660px;
    max-width: 450px;
    width: 70%;
    padding: 20px;
}

.wrap-map {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #e5e5e5;
}
.map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.map-changed {
    height: 100%;
}


.wrap-logo3 {
    display: flex;
    justify-content: center;
    z-index: 1;
}
.logo3 {
    padding-top: 5vh;
}
.wrap-logo3 img {
    max-width: 70px;
    height: auto;
}
.wrap-content-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.text3 {
    max-width: 250px;
    font-family: "Manrope";
    letter-spacing: 0.2cap;
    text-align: center;
    font-size: 26px;
    font-weight: 200;
    color: white;
}
.text4 {
    max-width: 300px;
    font-family: "Manrope";
    letter-spacing: 0.2cap;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: white;
}
.switch_mob2 {
    position: absolute;
    width: 100%;
    max-width: 100px;
    height: auto;
    top: 25vh;
    right: 19%;
    transform: translate(69%);
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);;
}

@media (max-width: 1400px) {
    .switch_mob2 {
        right: 18%;
        transform: translate(50%);
    }
}
@media (max-width: 1100px) {
    .switch_mob2 {
        height: auto;
        width: 80px;
    }
}
@media screen and (max-width: 800px) {
    .container-1 {
        flex-direction: column;
    }
    .column-1 {
        width: 100%;
        max-height: 32vh;
    }
    .wrap-video {
        top:-100%;
        max-width: 160px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .video {
        max-width: 200px;
        padding: 20px;
        
        height: auto;
        width: 85%;
    }    
    .column-2 {
        max-width: 100%;
        width: 100%;
        max-height: 38vh;
    }
    .column-3 {
        width: 100%;
        height: 30vh;
    }
    .logo3 {
        padding-top: 5px;
    }
    .wrap-content-side {
        padding-top: 0px;
    }
    .text3 {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }
    .text4 {
        font-size: 18px;
        font-weight: 400;
        margin-top: auto;
    }
    .switch_mob2 {
        height: auto;
        width: 70px;
        top: 20vh;
        transform: translateY(3px);
        right: -9%;
    }
}

/********************************************************/

.col1-2 {
    width: 24%;
    height: 100vh;
    background-color:  rgb(195, 0, 0);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.col2-2 {
    width: 76%;
    height: 100vh;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.col3-2 {
    width: 0%;
    background-color: transparent;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch_mob3 {
    position: absolute;
    width: 100%;
    max-width: 100px;
    height: auto;
    top: 25vh;
    right: 75%;
    transform: translate(30%);
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}